:root {
  --button-color: #39AEA9;
  --button-outline: #E5EFC1;
  --primary-color: #557B83;
}
body {
  overflow-x: hidden;
  background-color: #eee;
}
.card {
  background-color: var(--button-outline)
}
h1 {
  background-color:var(--primary-color);
}
#object-filter:hover, #object-filter:active {
  color: #000;
}
a, a:hover,a:active {
  text-decoration: none;
}
ul, li, a{
  list-style: none;
}
.bg-p{
  background-color:var(--button-color);
}
.btn-s{color:#fff;background-color:var(--button-outline);border-color:var(--button-outline)}
.btn-s:hover{color:#fff;background-color:var(--button-color);border-color:var(--button-color)}
.btn-s-o{color:var(--button-color);border-color:var(--button-color)}.btn-s-o:hover{color:#fff;background-color:var(--button-color);border-color:var(--button-color)}.btn-check:focus+.btn-s-o,.btn-s-o:focus{box-shadow:0 0 0 .25rem rgba(229,239,193,.5)}
